.footer-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  bottom: 0;
  justify-content: center;
  padding: 3rem 4rem;
  background-color: #1d1d1d;
}

.container-socials {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  padding: 1%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
}

.card-container {
  display: block;

  padding: 0.5rem;
}
.social-icon {
  font-size: 2rem;
  padding-top: 0.1rem;
}

.card-content {
  display: grid;
  text-align: center;
  justify-content: space-around;
  grid-template-columns: repeat(3, auto);
}
.social-links {
  text-decoration: none;
  color: #ffff;
}

.social-links:hover {
  color: #05999b;
  transition: all ease-in 0.3s;
}

.services {
  padding: 1%;
}
ul {
  color: #fff;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 100;

  padding: 0.5rem;
}
.footer-list {
  color: #fff;
  font-size: 1.1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

.footer-icon {
  color: #fff;
}
.footer-icon:hover {
  color: #05999b;
  transition: all ease-in 0.3s;
}

.newsletter {
  color: #fff;
  padding: 0.5rem;
  text-align: left;
  font-size: 1.1rem;
}

.news-container {
  padding: 1%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
}
.mail {
  width: 55%;

  text-decoration: none;
}
.input {
  display: flex;
  padding-top: 20px;
  font-weight: bold;
}

.gumb-sub {
  font-weight: bold;
}
.bottom-footer {
  background-color: rgba(0, 0, 0, 95%);
  display: flex;
  height: 4vh;
  z-index: -1;
  position: static;
}
